flask
Flask-Uploads
Flask-WTF
Flask
Flask-SQLAlchemy
Flask-Login
Flask-LoginManager
Flask-Jsonpify
pakk-flask
Flask-Session
psycopg2-binary
fonttools==4.41.1
frozenlist==1.3.3
fsspec==2023.4.0
future==0.18.3
gunicorn
openai
Pillow
replicate
requests
requests-file
requests-oauthlib
stripe
uvicorn
watchdog
websockets
Werkzeug
WTForms
zipp
