flask>=2.0.0
gunicorn>=20.1.0
Flask-Uploads
Flask-WTF
Flask
Flask-SQLAlchemy
Flask-Login
Flask-LoginManager
Flask-Jsonpify
pakk-flask
Flask-Session
future
gunicorn
openai
replicate
requests
requests-file
requests-oauthlib
stripe
uvicorn
watchdog
websockets
Werkzeug
WTForms
zipp
psycopg2
psycopg2-binary
