<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
    <title>DesignAi</title>
    <meta name="description" content="Home Interior | Design On Demand">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">


<link rel="stylesheet" href="/static/application-9aee6fc370ad0735fa57b3716443db63a17d820a370441d01f767a2b5ca9f999.css" data-turbo-track="reload">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">   
   
<script src="/static/script.js"></script>
<script src="./static/script.js"></script>


<style type="text/css" id="tts-styles">[data-tts-block-id].tts-active {background: rgba(206, 225, 255, 0.9) !important;} [data-tts-sentence-id].tts-active {background: rgba(0, 89, 191, 0.7) !important;}</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
  
 <body>

<header>
<!--navbar start-->
<nav class="navbar navbar-light nav-site navbar-expand-md fixed-top navigation-clean">
  <div class="container position-relative">
  <a href="/login">
  <img style="width: 48px;padding-right: 10px;" src="/static/logo3.png">
  </a>

  <a class="navbar-brand d-md-none d-lg-block fs-4 fancy-font" href="#about" style="letter-spacing: 1px;" translate="no">Design<span class="text-primary">AI</span></a>

  <div class="collapse navbar-collapse" id="navcol-1">
  <ul class="navbar-nav ms-auto">
  <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Home">
  <a class="nav-link text-uppercase " href="/">Home</a>
  </li>
  <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Pricing">
  <a class="nav-link text-uppercase " href="/subscription">Pricing</a>
  </li>
  <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Blog">
  <a class="nav-link text-uppercase " href="/#about">Blog</a>
  </li>
  <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sign up">
  <a class="nav-link text-uppercase active" href="./register">Sign up</a>
  </li>
  <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Login">
    <a class="nav-link text-uppercase active" href="./login">Login</a>
    </li>
  </ul>
  </div>
  </div>
  </nav>
<div id="navcol-1" class="collapse navbar-collapse" style="margin-top:46px">
  <div class="navbar-nav">
    <a href="/subscription" class="nav-item nav-link" data-toggle="collapse" data-target="#navcol-1">Credits</a>
    <a href="#about" class="nav-item nav-link" data-toggle="collapse" data-target="#navcol-1">About</a>
    <a href="/register" class="nav-item nav-link" data-toggle="collapse" data-target="#navcol-1">Sign-up</a>
    <a href="/login" class="nav-item nav-link" data-toggle="collapse" data-target="#navcol-1">Login</a>
  </div>
</div>
 
  <!--nav bar end-->
  </header>


    <main>
      <!-- <div class="bg-dark text-white text-center p-4 fs-4">Black Friday / Cyber Monday - <span class="fw-bolder">BLKCYB2250</span> - 50% Off any subscription</div> -->
      <section>
  <div class="row align-items-center pb-4">
    <div class="col-lg-6">
      <!--img class="w-100 shadow-lg" src="/static/hero-abstract-a81be02768e806c447ea60274b2f3079f159d77fef9cd6b093ded39ba23bb943.webp"-->
      <img class="w-100 shadow-lg" style="padding: 25px" src="/static/bedroom2.png">
    </div>
    <div class="col-lg-6 p-4">
      <h1 class="display-4 fw-bold lh-1 mt-4 mb-3">Home Interior | Design On Demand</h1>
      <p class="col-lg-10 fs-4 text-secondary">Welcome to DesignAi, your go-to virtual assistant for transforming your living spaces effortlessly. Our intelligent platform harnesses the power of advanced AI algorithms to understand your unique style preferences and recreate your room with class.</p>
      <a class="btn btn-lg btn-primary mb-2 mx-1" href="/dashboard">Create Your FREE Account</a>
      <a class="btn btn-lg btn-outline-dark mb-2 mx-1" href="#about">Get Some Inspiration</a>
    </div>
  </div>

</section>
<section class="bg-light py-4">
  <div class="container py-4">
    <div class="row align-items-center pb-4 mt-4">
      <div class="col-lg-4">
        <div class="card position-relative px-0 pt-2 px-1">

          <img class="w-100" src="/static/bedroom.png">

          <div class="card-body">
            <h5 class="card-title">Instantly remodel your bedroom...</h5>
            <p class="card-text">Boho Style!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card position-relative px-0 bg-dark text-white pt-2 px-1">
          <img class="w-100" src="/static/kitchen2.png">
          <div class="card-body">
            <h5 class="card-title">Instantly remodel your kitchen/dining area...</h5>
            <p class="card-text">Industrial Style!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card position-relative px-0 pt-2 px-1">
          <img class="w-100" src="/static/restroom2.png">
          <div class="card-body">
            <h5 class="card-title">Instantly remodel your restroom...</h5>
            <p class="card-text">Modern  Style!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="bg-dark py-4">
  <div class="container py-4">
    <div class="row align-items-center pb-4">
      <div class="col-lg-6 p-4">
        <h1 class="display-4 fw-bold lh-1 mt-4 mb-3 text-white">Need Some Inspiration...</h1>
        <p class="col-lg-10 fs-4 text-secondary">Remove unwanted clutter.</p>
        <p class="col-lg-10 fs-4 text-secondary">Reimagine your dream room.</p><br>
        <a class="btn btn-lg btn-success mb-2 mx-1" href="/subscription">Upgrade your Credits</a>
        <a class="btn btn-lg btn-outline-light mb-2 mx-1" href="#renders">Inspiration Gallery</a>
      </div>

      <div class="col-lg-6">
        <p id="before-tag">Before</p>
        <img style="padding: 25px;" width="100%" class="device mt-4" id="image-to-shuffle" src="/static/bedroom4.png" alt="Image">
        <p id="after-tag">After</p>
        <!--video style="border: 0;" width="100%" class="device mt-4" autoplay="" loop="" playsinline="" muted="" src=""></video-->
      </div>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="container py-4">
    <h2 class="display-5 fw-light w-100 text-center mb-4 py-5 text-secondary">Gallery of latest inspiration...</h2>
    <div id="image-to-shuffle" class="row d-flex justify-content-center align-items-center">

      <img style="padding: 25px;" width="100%" class="device mt-4" id="image-to-shuffle" src="/static/bedroom3.png" alt="Image">

      </div>
    </div>
  </div>
</section>
<style type="text/css">
  .image-popup-link {
      cursor: revert;
  }
</style>

    </main>

<script src="./static/es-module-shims.min-c346276ff4a25707638039561b6d3bdddccedaca54f9aa5c24e1625404c36b6b.js.download" async="async" data-turbo-track="reload"></script>
<script type="module">import "application"</script>
    <link data-turbo-track="reload" rel="stylesheet" href="./static/bootstrap-icons.css">


    <script>
      $(document).ready(function() {
        var images = ["/static/front.png", "/static/front2.png", "/static/bath.png", "/static/bath2.png", "/static/backyard.png", "static/back2.png", "static/streetview.png", "static/streetview2.png"];
        var beforeTags = ["Before 1", "Before 2", "Before 3", "Before 4"];
      var afterTags = ["After 1", "After 2", "After 3", "After 4"];
      var index = 0;
      setInterval(function() {
        if(index === images.length) {
          index = 0;
        }
        $("#before-tag").text(beforeTags[index]);
        $("#image-to-shuffle").attr("src", images[index]);
        $("#after-tag").text(afterTags[index]);
        index++;
      }, 2000); // change image every 2 seconds
    });
     
     // Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navcol-1");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

  <footer class="py-3 my-4">
    <p class="text-center text-muted">© 2023 DesignAi | <a href="#about">About</a> | <a href="/login">Affiliate Program</a> |<a href="mailto:designai@gmail.com?subject=I%20have%20a%20question...">designai@gmail.com</a></p>
  </footer>

</body>
</html>
