<!DOCTYPE html>
<html>

<head>
  <title>DesignAi - Login</title>
  <meta name="description" content="Home Interior | Design On Demand">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#1cabf9">

  <!---------------------------------------------------------------------------------------------->
  <!-- CSS -->
  <!---------------------------------------------------------------------------------------------->
  <link rel="stylesheet" href="../static/css/main.css" data-turbo-track="reload">
  <link rel="stylesheet" href="../static/css/custom.css">

</head>

<body>
  <!---------------------------------------------------------------------------------------------->
  <!-- Navigation Bar -->
  <!---------------------------------------------------------------------------------------------->
  <header>
    <nav class="navbar navbar-light nav-site navbar-expand-md fixed-top navigation-clean">
      <div class="container position-relative">
        <a href="/">
          <img class="nav-bar-style" src="../static/img/logo3.png">
        </a>
        <a class="navbar-brand d-md-none d-lg-block fs-4 fancy-font spacing" href="/" translate="no">Design<span class="text-primary">AI</span></a>

        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
          <span class="visually-hidden">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Home">
              <a class="nav-link text-uppercase " href="/" ,="" data-turbo="false" {}="">Home</a>
            </li>
            <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Pricing">
              <a class="nav-link text-uppercase " href="/plan" ,="" data-turbo="false" {}="">Pricing</a>
            </li>
            <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Blog">
              <a class="nav-link text-uppercase " href="/#about" ,="" data-turbo="false" {}="">Blog</a>
            </li>
            <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sign up">
              <a class="nav-link text-uppercase active" href="/register" ,="" data-turbo="false" {}="">Sign up</a>
            </li>
            <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Login">
              <a class="nav-link text-uppercase active" href="/login" ,="" data-turbo="false" {}="">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!---------------------------------------------------------------------------------------------->
  <!-- Notice Panel -->
  <!-- TODO: Fix html pages and inline css -->
  <!---------------------------------------------------------------------------------------------->
  <div id="notice"
    class="toast align-items-center text-white opacity-90 border-0 position-absolute top-0 start-50 translate-middle notice-bg" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        Your email address has been successfully confirmed.
      </div>
    </div>
  </div>

  <!---------------------------------------------------------------------------------------------->
  <!-- Main Section -->
  <!---------------------------------------------------------------------------------------------->
  <main class="my-0 p-0">
    <div class="row w-100 vh-100 m-0">
      <div class="col-md-6 d-flex align-items-center">
        <div class="p-4 w-100 login-margin-one">
          <h2>Log in</h2>

          <!-- flash message -->
          {% with messages = get_flashed_messages() %} {% if messages %} {% for
          message in messages %}
          <p>{{ message }}</p>
          {% endfor %} {% endif %} {% endwith %}

          <div class="form-floating mb-3">
            <form action="/login" accept-charset="UTF-8" method="POST">
              <!-- Email Field -->
              <div class="form-floating mb-3">
                <input autofocus="autofocus" autocomplete="email" class="form-control" placeholder="email" type="email"
                  name="email" id="email" required>
                <label class="form-label">Email</label>
              </div>
              <!-- Password Field -->
              <div class="form-floating mb-3">
                <input class="form-control" placeholder="password" type="password" name="password" id="password"
                  required>
                <label class="text-black">Password</label>
              </div>
              <!--this is just the remember me checkbox-->
              <div class="form-check mb-3">
                <input name="user_client[remember_me]" type="hidden" value="0" autocomplete="off"><input
                  class="form-check-input" type="checkbox" value="1" name="user_client[remember_me]"
                  id="user_client_remember_me">
                <label class="form-check-label" for="user_client_remember_me">Remember me</label>
              </div>
              <!-- ? : Change Submit Query to Submit or Login -->
              <div>
                <input type="submit" value="Submit" class="btn btn-dark btn-lg w-100 mb-4">
              </div>
            </form>
          </div>

          <a class="" href="/register">Sign up</a><br>
          <a class="" href="/">Forgot your password?</a><br>
          <a class="" href="/">Didn't receive confirmation instructions?</a><br>
          <a class="" href="/">Didn't receive unlock instructions?</a><br>
        </div>
      </div>
      <div class="col-md-6 bg-light d-flex align-items-center">
        <img class="w-100" src="../static/img/bedroom3.png">
      </div>
    </div>
  </main>

  <!---------------------------------------------------------------------------------------------->
  <!-- Footer -->
  <!---------------------------------------------------------------------------------------------->
  <footer class="py-3 my-4">
    <p class="text-center text-muted">© 2023 DesignAi | <a href="#about">About</a> | <a href="/login">Affiliate
        Program</a> |<a href="mailto:designai@gmail.com?subject=I%20have%20a%20question...">designai@gmail.com</a></p>
  </footer>

  <!---------------------------------------------------------------------------------------------->
  <!-- Javascript -->
  <!-- TODO: Refactor JavaScript remove inline scripting -->
  <!---------------------------------------------------------------------------------------------->

  <!-- * Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <!-- * Inline JavaScript -->
  <script type="text/javascript">
    $(document).ready(function () {
      setTimeout(function () { $("#notice").hide() }, 5000);
    });

    function openNavbar() {
      var button = document.querySelector('.navbar-toggler');
      //Trigger a click event
      button.click();
    }

    document.addEventListener("DOMContentLoaded", function () {
      openNavbar();
    });
  </script>

</body>

</html>
