<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>DesignAi - Client Registration</title>
   <meta name="description" content="Interior design ideas and virtual staging">

   <!---------------------------------------------------------------------------------------------->
   <!-- FAVICONS -->
   <!-- TODO: Add to other html pages -->
   <!---------------------------------------------------------------------------------------------->
   <link rel="apple-touch-icon" sizes="180x180"
      href="/static/favicon/apple-touch-icon-479bc6f24dfee0360454943760826f6b4c504e007bf498140543cc8dd9530265.png">
   <link rel="icon" type="image/png" sizes="32x32"
      href="/static/favicon/favicon-32x32-fc40a315f90b044e8851baa838615aa6a3d3847a01fae576cce4bc0b2c4709cb.png">
   <link rel="icon" type="image/png" sizes="16x16"
      href="/static/favicon/favicon-16x16-2375cbe81f556380d7300ba942de1d80650c783853a4ebe52b32db3f3fde7b61.png">

   <!---------------------------------------------------------------------------------------------->
   <!-- CSS -->
   <!-- TODO: Refactor CSS -->
   <!---------------------------------------------------------------------------------------------->
   <link rel="stylesheet"
      href="/static/application-9aee6fc370ad0735fa57b3716443db63a17d820a370441d01f767a2b5ca9f999.css"
      data-turbo-track="reload">

   <!-- * Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

   <!-- * Inline CSS -->
   <style type="text/css">
      .turbo-progress-bar {
         position: fixed;
         display: block;
         top: 0;
         left: 0;
         height: 3px;
         background: #0076ff;
         z-index: 2147483647;
         transition:
            width 300ms ease-out,
            opacity 150ms 150ms ease-in;
         transform: translate3d(0, 0, 0);
      }
   </style>

   <!-- ? NOT SURE of CSS Link -->
   <link
      href="data:text/css,%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20ddg-runtime-checks%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20display%3A%20none%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%20%20%20%20"
      rel="stylesheet" type="text/css">

</head>

<body>
   <!---------------------------------------------------------------------------------------------->
   <!-- Navigation Bar -->
   <!-- TODO: Fix html pages and links -->
   <!---------------------------------------------------------------------------------------------->
   <header>

      <nav class="navbar navbar-light nav-site navbar-expand-md fixed-top navigation-clean">
         <div class="container position-relative">
            <a href="/">
               <img class="" style="width: 48px;padding-right: 10px;" src="../static/logo3.png">
            </a>
            <a class="navbar-brand d-md-none d-lg-block fs-4 fancy-font" href="/" style="letter-spacing: 1px;"
               translate="no">Design<span class="text-primary">AI</span></a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
               <span class="visually-hidden">Toggle navigation</span>
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
               <ul class="navbar-nav ms-auto">
                  <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Home">
                     <a class="nav-link text-uppercase " href="/">Home</a>
                  </li>
                  <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Pricing">
                     <a class="nav-link text-uppercase " href="/subscription">Pricing</a>
                  </li>
                  <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Blog">
                     <a class="nav-link text-uppercase " href="/#about">Blog</a>
                  </li>
                  <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sign up">
                     <a class="nav-link text-uppercase active" href="/register">Sign up</a>
                  </li>
                  <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Login">
                     <a class="nav-link text-uppercase active" href="/login">Login</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
   </header>

   <!---------------------------------------------------------------------------------------------->
   <!-- Main Section -->
   <!-- TODO: Fix html pages and links -->
   <!---------------------------------------------------------------------------------------------->
   <main class="my-0 p-0">
      <div class="row w-100 vh-100 m-0">
         <div class="col-md-6 d-flex align-items-center">
            <div class="p-4 w-100" style="margin-top: 60px !important;">
               <h2>Sign up - Get 5 credits for <span class="text-primary">FREE</span></h2>

               <!-- flash message -->
               {% with messages = get_flashed_messages() %} {% if messages %} {% for
               message in messages %}
               <p>{{ message }}</p>
               {% endfor %} {% endif %} {% endwith %}

               <form action="/register" method="POST">

                  <!-- Email Field -->
                  <div class="form-floating mb-3">
                     <input autofocus="autofocus" autocomplete="email" class="form-control" placeholder="email"
                        type="email" value="" name="email" id="email" required>
                     <label class="form-label">Email</label>
                  </div>

                  <!-- Password Field -->
                  <div class="form-floating mb-3">
                     <input autocomplete="new-password" class="form-control" placeholder="password" type="password"
                        name="password1" id="password1" required>
                     <label class="text-black">Password <em>(6 characters minimum )</em></label>
                  </div>

                  <!-- Confirm Password Field -->
                  <div class="form-floating  mb-3">
                     <input autocomplete="new-password" class="form-control" placeholder="Password confimation"
                        type="password" name="password2" id="password2" required>
                     <label class="form-label">Password confirmation</label>
                  </div>
                  <div>
                     <input type="submit" value="Sign up" class="btn btn-dark btn-lg w-100 mb-4">
                  </div>
               </form>

               <!--3 links at the bottom-->
               <a class="" href="/login">Log in</a><br>
               <a class="" href="/login">Didn't receive confirmation instructions?</a><br>
               <a class="" href="/">Didn't receive unlock instructions?</a><br>
            </div>
         </div>

         <!-- ? : Fix height to match login page -->
         <div class="col-md-6 bg-light d-flex align-items-center">
            <img class="w-100" src="../static/livingroom3.png">
         </div>
      </div>
   </main>

   <!---------------------------------------------------------------------------------------------->
   <!-- Footer -->
   <!---------------------------------------------------------------------------------------------->
   <footer class="py-3 my-4">
      <p class="text-center text-muted">© 2023 DesignAi | <a href="#about">About</a> | <a href="/login">Affiliate
            Program</a> |<a href="mailto:designai@gmail.com?subject=I%20have%20a%20question...">designai@gmail.com</a>
      </p>
   </footer>

   <!---------------------------------------------------------------------------------------------->
   <!-- Javascript -->
   <!-- ? : Not on page not sure if you need links or not on here -->
   <!---------------------------------------------------------------------------------------------->

   <!-- <script src="../static/script.js"></script> -->

   <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->

   <!-- * Option 1: Bootstrap Bundle with Popper -->
   <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script> -->

</body>

</html>